<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuelFinderMX - Crear Cuenta</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo 16x16.ico') }}" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/logo 32x32.ico') }}" sizes="32x32" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/logo 64x64.ico') }}" sizes="64x64" type="image/x-icon">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Barra de navegación principal -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">FuelFinderMX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: rgb(0, 0, 0);" href="Inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: rgb(0, 0, 0);" href="Mapa">Mapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: rgb(0, 0, 0);" href="Perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: rgb(0, 0, 0);" href="IniciarSesion">Iniciar sesion</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Formulario para registrar la información de cuenta -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Columna 1: Datos personales -->
            <div class="col-md-5 p-3 border rounded shadow datos-custom-height" style=" margin-right: 20px">
                <h2 class="text-center">Modificar datos personales</h2>
                <br>
                <form action="/process_personal_data" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            placeholder="Ingrese su nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido"
                            placeholder="Ingrese su apellido">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" class="form-control" id="contraseña" name="contraseña"
                            placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirmar_contraseña">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="confirmar_contraseña"
                            name="confirmar_contraseña" placeholder="Confirme su contraseña">
                    </div>
                </form>
            </div>

            <!-- Columna 2: Datos del vehículo -->
            <div class="col-md-5 p-3 border rounded shadow datos-custom-height">
                <h2 class="text-center">Modificar datos del vehículo</h2>
                <br>
                <form action="/process_vehicle_data" method="POST">
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca"
                            placeholder="Ingrese la marca de su vehiculo">
                    </div>
                    <div class="form-group">
                        <label for="modelo">Modelo</label>
                        <input type="text" class="form-control" id="modelo" name="modelo"
                            placeholder="Ingrese el modelo de su vehiculo">
                    </div>
                    <div class="form-group">
                        <label for="año">Año</label>
                        <input type="text" class="form-control" id="año" name="año"
                            placeholder="Ingrese el año de su vehiculo">
                    </div>
                    <div class="form-group">
                        <label for="capacidad_tanque">Capacidad del tanque</label>
                        <input type="text" class="form-control" id="capacidad_tanque" name="capacidad_tanque"
                            placeholder="Ingrese la capacidad del tanque de su vehiculo">
                    </div>
                </form>
            </div>
        </div>

        <!-- Botón centrado debajo de los formularios -->
        <div class="row mt-4">
            <div class="col text-center">
                <a href="Perfil.html" class="btn btn-primary" style="width: 200px;">Guardar</a>
            </div>
        </div>
    </div>

    <!-- Footer de información de contacto -->
    <footer class="bg-dark text-light pt-5 pb-3 px-5 mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-left">Contacto</h5>
                    <br>
                    <ul class="list-unstyled">
                        <li class="custom-text text-left"><i class="fa-solid fa-map"></i> Dirección: <a
                                href="https://maps.app.goo.gl/v59XQ16W5ncPVQXx8">Km 3.5 Carretera Chihuahua a Aldama
                                Colinas de León, 31313, 31300 Chihuahua, Chihuahua · 06 km</a></li>
                        <li class="custom-text text-left"><i class="fa-solid fa-envelope"></i> Email 1: <a
                                href="mailto:fuelfindermx@outlook.com">fuelfindermx@outlook.com</a></li>
                        <li class="custom-text text-left"><i class="fa-solid fa-envelope"></i> Email 2: <a
                                href="mailto:fuelfindermx@gmail.com">fuelfindermx@gmail.com</a></li>
                        <li class="custom-text text-left"><i class="fa-solid fa-phone"></i> Teléfono: 614-552-0929</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="text-left">Redes Sociales</h5>
                    <br>
                    <ul class="list-unstyled">
                        <li class="custom-text text-left"><i class="fa-brands fa-facebook"></i> Facebook: <a
                                href="https://www.facebook.com/profile.php?id=61568152538733">FuelFinderMX</a></li>
                        <li class="custom-text text-left"><i class="fa-brands fa-instagram"></i> Instagram: <a
                                href="https://www.instagram.com/fuelfindermx/">FuelFinderMX</a></li>
                        <li class="custom-text text-left"><i class="fa-brands fa-whatsapp"></i> Whatsapp Business: <a
                                href="https://wa.me/526145520929">FuelFinderMX</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>