<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Dinámico</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #f8f9fa;
        }

        .nav-link {
            color: #000 !important;
            font-weight: italic;
        }

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: italic;
        }

        .navbar-nav .nav-item {
            margin-right: 15px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('inicio') }}">FuelFinderMX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Mapa</a>
                </li>
                {% if 'user' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cerrar_sesion') }}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('iniciar_sesion') }}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
