/*Aqui vamos a meter todos los estilos personalizados*/



/*Estilo de texto del footer general*/

.custom-text {
    padding-bottom: 5px;
}


/*Estilo personalizado de reporte*/

.bg-custom {
    background-color: #dadada;
}


/*Estilo Personalizado del mapa*/

.body-map {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.map-shadow-navbar {
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.map-container-fluid,
.map-row,
.map-col-9 {
    padding: 0;
    margin: 0;
}


.footer-map {
    position: relative;
    bottom: 0;
    width: 100%;
}

.menu-section {
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    padding: 20px;
}

.map-section {
    height: 100vh;
}

#menu {
    max-height: 150px;
    transition: height 0.5s ease;
}

#menu.expanded {
    max-height: 300px;
}

@media (max-width: 768px) {
    .navbar-collapse {

        border: none;
        border-top: 2px solid #ddd;
        margin: 10px 0;
        width: 100%;
    }
}


/*Estilo Personalizado de perfil*/

.perfil-body {
    font-family: Arial, sans-serif;
    color: #333;
}

.perfil-custom-height {
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.perfil-section-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.perfil-subsection-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.perfil-P {
    font-size: 1em;
    margin: 0;
    line-height: 1.5em;
    font-weight: bold;
}
.perfil-divider {
    border: none;
    border-top: 1px solid #838181;
    margin-bottom: -10px;
    width: 100%;
}


/*Estilo Personalizado de inicio*/

.inicio-custom-text {
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding-bottom: 5px;
}
.carousel-item {
    transition: transform 1s ease; /* Ajusta el tiempo a tu preferencia */
    }

/*Modificar datos estilo*/

.datos-custom-height {
    min-height: 300px;
    display: flex;
    flex-direction: column;
}


/*Iniciar sesion estilo*/

.custom-text {
    padding-bottom: 5px;
}

.iniciarS-body {
    background-image: url(../imagenes/Gasolinera.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.iniciarS-divider {
    border: none;
    border-top: 1px solid #ddd;
    /* Color y grosor de la línea */
    margin: 20px 0;
    /* Espaciado arriba y abajo de la línea */
    width: 100%;
}